*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  min-width:100vw ;
  min-height:100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #5916F5;
  overflow:hidden

}